<%- include("partials/header") %>

<% chats.forEach(chat=> { %>

<div class="card">

    <div>

        <h3>
            <%= chat.from %>
            →
            <%= chat.to %>
        </h3>

        <p>
            <%= chat.msg %>
        </p>
        <p class="time">
    <%= chat.created_at.toLocaleString() %>
</p>

        <a href="/chats/<%= chat._id %>">
            Open
        </a>

        |

        <a href="/chats/<%= chat._id %>/edit">
            Edit
        </a>

        <form
        action="/chats/<%= chat._id %>?_method=DELETE"
        method="POST">

            <button>
                Delete
            </button>

        </form>

    </div>

</div>

<% }) %>

<%- include("partials/footer") %>